<% layout("/layouts/boilerplate.ejs") %>

<style>
.categories{
    border-radius: 15px;
    padding: 10px;
    margin-right: 3rem;
}
</style>
<body> 
    <br> 
    <div class="row">
        <div class="col-8 offset-2">
            <h4>Create new listing</h4>

            <br> 
    <form method="POST" action="/listings/addnew" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" >title :</label>
        <input type="text" name="listing[title]" class="form-control" placeholder="add a catchy title" required>
        </div>
        

        <div class="mb-3">
            <label for="description" >description :</label>
           <textarea name="listing[description]" class="form-control" required></textarea>
           <div class="invalid-feedback">
            Please enter a short description.
          </div>
        </div>
        
        <div class="mb-3" >
            <label for="image" >upload listing image :</label>
            <input type="file" class="form-control" name="listing[image]" >
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" >price :</label>
                 <input type="text" name="listing[price]" class="form-control" placeholder="1200" required>
                 <div class="invalid-feedback">
                    Please enter a valid price.
                  </div>
            </div>
           
            <div class="mb-3 col-md-8">
                <label for="country">country :</label>
                <input type="text" name="listing[country]" class="form-control" placeholder="india" required>
                <div class="invalid-feedback">
                    Please enter your country.
                  </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="location">location :</label>
             <input type="text" name="listing[location]" class="form-control" placeholder="prayagraj, india" required>
             <div class="invalid-feedback">
                Please enter your location.
              </div>
        </div>

        <select class="mb-3 categories" name="listing[category]">
            <option value="" selected disabled>select category</option>
            <% categories.forEach(category => { %>
                <option value="<%= category %>" ><%=category%></option>
            <% }) %>
            </select>
       
      
   
        <button class="btn btn-dark add-btn" style="width: auto;">Add Listing</button>

    </form>
    <br><br><br>
</div>
</div>
</body>
</html>